@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'KCCChassam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    min-width: 1000px;
    margin: 0;
    background-color: #D8E1EA;
    font-family: 'Pretendard-Regular';
}
nav {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 1em 2em;
    background-color: white;
}
.logo {
    font-family: 'KCCChassam';
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 40px;
}
.nav-items{
    display: flex;
    align-items: center;
    margin-left: 0;
    padding: 0;
}
.nav-items a {
    margin: 0;
    padding-right: 40px;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}
.nav-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.nav-right input[type="search"] {
    margin-right: 50px;
    padding: 0.5em;
    border: none;
    border-radius: 10px;
    border: 2px solid #D8E1EA;
}
.nav-right img {
    border-radius: 50%;
    width: 67px;
    height: 67px;
}


.usercontainer{
    /* border : 1px solid black; */
    height: 300px;
}

.userimage{
    width : 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    margin-left: 200px;
    margin-top : 40px;
    border : 1px solid black;
    position: absolute;
    overflow: hidden;
}
.userimage>img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.username{
    display: flex;
    align-items: center;
    margin-left : 500px;
    position: absolute;
    top: 150px;
    font-family: 'Pretendard-Regular';
}

.username button[type=button]{
    display: flex;
    position: absolute;
    top: 100px;
    border: none;
    border-radius: 10px;
    border: 2px solid #D8E1EA;
    padding: 0.5em;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    width: 140px;
    cursor: pointer;
}
.like{
    display: flex;
    margin-top : 80px;
    text-align: center;
    font-family: 'Pretendard-Regular';
   
    position: absolute;
    left : 1600px;
}
.line{
    width: 2px;
    height: auto;
    background-color: gray;
    margin : 0px 25px 0px 25px;
}
.tab.active {
    background-color: #ccc;
    color: #b8b8b8;
  }

.menu_bar button[type=button]{
    border: none;
    outline: none;
    font-family: 'Pretendard-Regular';
    font-size: 25px;
    font-weight: bold;
    background-color: #D8E1EA;
    margin-left : 190px;
    cursor: pointer;
}


/* 업로드프로젝트 */
.content-group{
    position: relative;
    width: 350px;
    
}

.incontent > a >img{
    width :273px;
    height: 240px;
    border-radius: 10%;
    margin-right: 0;
}
/* 그리드 */
#grid-container{
    display: grid;
    grid-template-columns : repeat(5, 1fr);
    grid-gap: 0; 
    margin-left: 80px;
    margin-top: 60px;
    justify-content:space-between;
    align-content: center;
    
}
#grid-container a{
    text-decoration: none;
    cursor : default;
}
/* 팝업 */
.content-nav{
    position: absolute;
    top: 20px;
    right: 100px;
    z-index: 1;
}

.content-nav >img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* 팝업메뉴 */

.menu1 {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    min-width: 60px;
    width: 110px;
    height: 100px;
    top: 45px;
    right: 90px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
  }
.incontent:hover .menu1 {
    display: block;
}
.menu1 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu1 li {
    padding: 7px 0px;
  cursor: pointer;
}

.menu1 li a {
  text-decoration: none;
  color: #000000;
  padding: 8px 8px;
}




/* 무드보드 */

/*팝업아이콘*/
.grid-nav>img{  
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.gridgroup{
    position: relative;
    
}

.grid-nav{
    position: absolute;
    top:5%;
    right: 35%;
    z-index: 1;
}



/* 그리드 */


.grid-container2 {
    display: grid;
    grid-template-columns : repeat(5, 1fr);
    
    margin-left: 90px;
    margin-top: 60px;
    justify-content:center;
    align-content: center;
}

#inboard {
    width: 250px; /* 부모 요소의 너비 */
    border: 2px solid #ccc; 
    overflow: hidden; /* 자식 요소의 넘침 처리 */
    border-radius: 10%; 
    margin: 0;
    padding: 0;
    position: relative; 
  }

  #inboard img {
    width: 125px; 
    height: 125px; 
    float: left; 
    margin: 0;
    padding: 0;
  }

  .mboardtitle {
    position: absolute;
    top: 1%;
    left: 20px;
    font-size: 24px;
    color: white;
    z-index: 1;
}

/* 팝업메뉴 */
.menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 20px;
    width: 80px;
    height: 100px;
    top: 40px;
    right: 120px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  #grid-nav:hover + .menu,
  .menu:hover {
    display: block;
  }
.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 15px 16px;
}

.menu li a {
  text-decoration: none;
  color: #000000;
  padding: 10px 8px;
}

