<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artfinity</title>
    <link rel="stylesheet" href="css/sample.css">
    <link rel="stylesheet" href="css/profile_drop.css">
    <link rel="stylesheet" href="css/mainpg.css">
</head>

<body>
    <nav>
        <div class="logo">Art🖍finity</div>
        <div class="nav-items">
          <a href="/projects">프로젝트</a>
          <a href="/wallpapers">배경화면</a>
          <a href="/creators">크리에이터</a>
        </div>
        <div class="nav-right">
            <input type="search" placeholder="검색">
            <div class="dropdown-btn">  
              <a href="/mypage" class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="images/dog.png" alt="마이페이지">
              </a>
              <div class="dropdown-content">
                <a href="/mypage">마이페이지</a>
                <a href="/upload">업로드</a>
                <a href="/logout">로그아웃</a>
              </div>
            </div>
          </div>
    </nav>
    
</body>