<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email_finder</title>
    <link rel="stylesheet" href="css/email_finder.css">
</head>
<body>
    <nav>
        <div class="logo">Art🖍️finity</div>
    </nav>
    <div class="content-box">
        <div class="title">이메일 찾기</div>
        <form action="" method="post">
            <input type="name" name="name" placeholder="NAME"><br>
            <input type="phone" name="phone" placeholder="PHONE"><br>
            <input type="submit" class="email_finder-btn" value="이메일 찾기" >
            
        </form>
        <div class="finder">
            <a href="signup.html">회원가입</a>
            <a href="login.html">로그인</a>
        </div>
    </div>
</body>
</html>