<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artfinity</title>
    <link rel="stylesheet" href="css/sample.css">
    <link rel="stylesheet" href="css/profile_drop.css">
    <link rel="stylesheet" href="css/mainpg.css">
</head>

<body>
    <nav>
        <div class="logo">Art🖍finity</div>
        <div class="nav-items">
          <a href="/projects">프로젝트</a>
          <a href="/wallpapers">배경화면</a>
          <a href="/creators">크리에이터</a>
        </div>
        <div class="nav-right">
            <input type="search" placeholder="검색">
            <div class="dropdown-btn">  
              <a href="/mypage" class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="images/dog.png" alt="마이페이지">
              </a>
              <div class="dropdown-content">
                <a href="/mypage">마이페이지</a>
                <a href="/upload">업로드</a>
                <a href="/logout">로그아웃</a>
              </div>
            </div>
          </div>
    </nav>
   
    <section>
        <div class="event"></div>
    </section>

    <section>
        <div>
            <div class="title-txt">
            <h2>TOP 10 CREATORS</h2>
            <p>실시간 TOP 10 크리에이터 🎭</p>
            </div>
                <div class="topten">
                    <ul class="topc">
                        <li>
                            <div>
                                <div class="creator-profile"><img src="images/Ellipse 13.png" alt=""></div>
                                <button class="nickname">creator1</button>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="creator-profile"><img src="images/dog.png" alt=""></div>
                                <button class="nickname">creator2</button>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="creator-profile"></div>
                                <button class="nickname">creator3</button>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="creator-profile"></div>
                                <button class="nickname">creator4</button>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="creator-profile"></div>
                                <button class="nickname">creator5</button>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="creator-profile"></div>
                                <button class="nickname">creator6</button>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="creator-profile"></div>
                                <button class="nickname">creator7</button>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="creator-profile"></div>
                                <button class="nickname">creator8</button>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="creator-profile"></div>
                                <button class="nickname">creator9</button>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="creator-profile"></div>
                                <button class="nickname">creator10</button>
                            </div>
                        </li>
                    </ul>
                </div>
        </div>
    </section>
    <section2>
        <div id="tab1" class="content" >
            <div id="grid-container">
                <a href="#">
                    <img src="images/image 78.png" alt="">
                </a>
                <a href="#">
                    <img src="images/image 79.png" alt="">
                </a>
                <a href="#">
                    <img src="images/image 80.png" alt="">
                </a>
                <a href="#">
                    <img src="images/image 81.png" alt="">
                </a>
                <a href="#">
                    <img src="images/image 90.png" alt="">
                </a> 
                <a href="#">
                    <img src="images/image 78.png" alt="">
                </a>
                <a href="#">
                    <img src="images/image 79.png" alt="">
                </a>
                <a href="#">
                    <img src="images/image 80.png" alt="">
                </a>
                <a href="#">
                    <img src="images/image 81.png" alt="">
                </a>
                <a href="#">
                    <img src="images/image 90.png" alt="">
                </a> 
            </div>
        </div>
    </section2>
</body>
</html>