<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artfinity</title>
    <link rel="stylesheet" href="css/project_detail.css">
</head>
<body>
    <nav>
        <div class="logo">Art🖍finity</div>
        <div class="nav-items">
          <a href="/projects">프로젝트</a>
          <a href="/wallpapers">배경화면</a>
          <a href="/creators">크리에이터</a>
        </div>
        <div class="nav-right">
          <input type="search" placeholder="검색">
          <a href="/mypage"><img src="images/dog.png" alt="마이페이지"></a>
        </div>
    </nav>

    <div class="title_label">
        <a href="sample_login.html">< 뒤로가기</a>
        <p>강아지 귀여워</p>
    </div>

    <div class="project-section">
        <div class="contents-container">
            <img class="project-img" src="images/project_img1.png" alt="Artwork">
            <p>코멘트가 들어가는 부분입니다.</p>
        </div>
        <div class="contents-container">
            <img class="project-img" src="images/project_img2.png" alt="Artwork">
            <p>코멘트가 들어가는 부분입니다.</p>
        </div>
    </div>

    <div class="sticky-nav">
        <div class="sticky-nav-content">
          <a href="/mypage" class="sticky-nav-link-mypage"><img src="images/dog.png" alt="마이페이지"></a>
          <img class="sticky-nav-link heart" src="icons/heart_icon.png" alt="좋아요">
          <img class="sticky-nav-link chat" src="icons/chat_icon.png" alt="댓글">
        </div>
    </div>

    <div class="detail">
        <div class="detail_content">
            <div class="icon-view">
                <img src="icons/view_icon.png" alt="">
                <span>100</span>
            </div>
            <div class="icon-heart">
                <img src="icons/heart_icon.png" alt="">
                <span>100</span>
            </div>
            <div class="icon-comment">
                <img src="icons/chat_icon.png" alt="">
                <span>100</span>
            </div>
        </div>
    </div>

    <div class="chat">
        <hr>
    </div>

</body>
</html>