<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artfinity</title>
    <link rel="stylesheet" href="css/sample_Nlogin.css">
</head>
<body>
    <nav>
        <div class="logo">Art🖍️finity</div>
        <div class="nav-items">
          <a href="/projects">프로젝트</a>
          <a href="/wallpapers">배경화면</a>
          <a href="/creators">크리에이터</a>
        </div>
        <div class="nav-right">
          <input type="search" placeholder="검색">
          <div class="login">
            <a href="/login.html">로그인</a>
          </div>
          
        </div>
      </nav>
</body>
</html>