<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artfinity_signup</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <nav>
        <div class="logo">Art🖍️finity</div>
    </nav>
    <div class="content-box">
        <div class="title">회원가입</div>
        <form action="" method="post">
            <input type="email" name="email" placeholder="EMAIL"><br>
            <input type="password" name="password" placeholder="PASSWORD"><br>
            <input type="password" name="password-check" placeholder="PASSWORD 확인"><br>
            <input type="phone" name="phone" placeholder="PHONE"><br>
            <input type="submit" class="signup-btn" value="회원가입" >
        </form>
    </div>
</body>
</html>